In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import sklearn.linear_model as lm
import statsmodels.formula.api as smf  
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [36]:
df = pd.read_csv("C:/Users/Khusshi Dedhiaa/Desktop/SSDI/bigmart.csv")

In [37]:
df.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2,443.4228

In [38]:
df.isna().sum()

Item_Weight             1463
Item_Fat_Content           0
Item_Visibility            0
Item_Type                  0
Item_MRP                   0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
Item_Outlet_Sales          0
dtype: int64

In [39]:
mean = df.Item_Weight.mean()
df.Item_Weight.fillna(mean, inplace=True)

In [40]:
mode = df.Outlet_Size.mode()[0]
df.Outlet_Size.fillna(mode, inplace=True)

In [78]:
df.isna().sum()

Item_Weight             0
Item_Fat_Content        0
Item_Visibility         0
Item_Type               0
Item_MRP                0
Outlet_Size             0
Outlet_Location_Type    0
Item_Outlet_Sales       0
Outlet_Type_G           0
Outlet_Type_T1          0
Outlet_Type_T2          0
Outlet_Type_T3          0
dtype: int64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Weight           8523 non-null   float64
 1   Item_Fat_Content      8523 non-null   object
 2   Item_Visibility       8523 non-null   float64
 3   Item_Type             8523 non-null   object
 4   Item_MRP              8523 non-null   float64
 5   Outlet_Size           8523 non-null   object
 6   Outlet_Location_Type  8523 non-null   object
 7   Outlet_Type           8523 non-null   object
 8   Item_Outlet_Sales     8523 non-null   float64
dtypes: float64(4), object(5)
memory usage: 599.4+ KB

In [43]:
df.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2,443.4228

In [44]:
df.Item_Fat_Content.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [45]:
df['Item_Fat_Content'] = df.Item_Fat_Content.map({'Low Fat':'LF','Regular':'R','low fat':'LF','LF':'LF','reg':'R'})

In [46]:
df.Outlet_Size.unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [47]:
df['Outlet_Size'] = df.Outlet_Size.map({'Medium':'M','High':'H','Small':'S'})

In [48]:
df.Outlet_Location_Type.unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [49]:
df['Outlet_Location_Type'] = df.Outlet_Location_Type.map({'Tier 1':1, 'Tier 2':2, 'Tier 3':3})

In [50]:
df.Outlet_Type.unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [51]:
df['Outlet_Type'] = df.Outlet_Type.map({'Supermarket Type1':'T1','Supermarket Type2':'T2','Grocery Store':'G','Supermarket Type3':'T3'})

In [52]:
from sklearn.preprocessing import scale

In [54]:
df['Item_Weight'] = scale(df[['Item_Weight']], with_mean=True, with_std=True)

In [55]:
df['Item_Visibility'] = scale(df[['Item_Visibility']], with_mean=True, with_std=True)

In [56]:
df['Item_MRP'] = scale(df[['Item_MRP']], with_mean=True, with_std=True)

In [57]:
df.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,-0.841872,LF,-0.970732,Dairy,1.747454,M,1,T1,3735.1380
1,-1.641706,R,-0.908111,Soft Drinks,-1.489023,M,3,T2,443.4228

In [58]:
from statsmodels.tools.tools import add_constant

In [59]:
x = add_constant(df)
x = df[['Item_Weight','Item_Visibility','Item_MRP']]
vif_df = pd.DataFrame()
vif_df['feature'] = x.columns
vif_df['VIF'] = [variance_inflation_factor(x.values,i) for i in range (len(x.columns))]
print(vif_df)

           feature       VIF
0      Item_Weight  1.000758
1  Item_Visibility  1.000146
2         Item_MRP  1.000614

In [60]:
for i in df.columns:
    print(i, end='+')

Item_Weight+Item_Fat_Content+Item_Visibility+Item_Type+Item_MRP+Outlet_Size+Outlet_Location_Type+Outlet_Type+Item_Outlet_Sales+

In [61]:
fit1 = smf.ols('Item_Outlet_Sales ~ Item_Weight+Item_Fat_Content+Item_Visibility+Item_Type+Item_MRP+Outlet_Size+Outlet_Location_Type+Outlet_Type', data=df).fit()
print(fit1.summary().tables[0])
print(fit1.summary().tables[1])

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.563
Model:                            OLS   Adj. R-squared:                  0.561
Method:                 Least Squares   F-statistic:                     437.3
Date:                Sat, 22 Apr 2023   Prob (F-statistic):               0.00
Time:                        19:10:14   Log-Likelihood:                -71999.
No. Observations:                8523   AIC:                         1.440e+05
Df Residuals:                    8497   BIC:                         1.442e+05
Df Model:                          25
Covariance Type:            nonrobust
==============================================================================
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
Intercept                            286.2968    115.870      2.471      0.013      59.163     513.431
Item_Fat_Content[T.R]                 40.7738     28.258      1.443      0.149     -14.619      96.166
Item_Type[T.Breads]                    2.5727     84.125      0.031      0.976    -162.332     167.478
Item_Type[T.Breakfast]                11.1206    116.726      0.095      0.924    -217.690     239.932
Item_Type[T.Canned]                   26.1074     62.831      0.416      0.678     -97.057     149.271
Item_Type[T.Dairy]                   -39.2839     62.293     -0.631      0.528    -161.393      82.825
Item_Type[T.Frozen Foods]            -25.8825     58.925     -0.439      0.660    -141.389      89.624
Item_Type[T.Fruits and Vegetables]    29.8522     55.012      0.543      0.587     -77.986     137.690
Item_Type[T.Hard Drinks]               0.3401     90.270      0.004      0.997    -176.611     177.291
Item_Type[T.Health and Hygiene]      -10.1356     68.083     -0.149      0.882    -143.594     123.323
Item_Type[T.Household]               -38.9733     59.982     -0.650      0.516    -156.553      78.606
Item_Type[T.Meat]                      2.3939     70.720      0.034      0.973    -136.234     141.022
Item_Type[T.Others]                  -25.2763     98.718     -0.256      0.798    -218.787     168.234
Item_Type[T.Seafood]                 182.5488    148.147      1.232      0.218    -107.854     472.952
Item_Type[T.Snack Foods]              -9.2964     55.300     -0.168      0.867    -117.697      99.104
Item_Type[T.Soft Drinks]             -26.4124     70.243     -0.376      0.707    -164.107     111.282
Item_Type[T.Starchy Foods]            25.0555    103.141      0.243      0.808    -177.127     227.238
Outlet_Size[T.M]                      27.6406     52.839      0.523      0.601     -75.937     131.218
Outlet_Size[T.S]                      60.1711     63.618      0.946      0.344     -64.536     184.878
Outlet_Type[T.T1]                   1960.4449     41.753     46.954      0.000    1878.599    2042.291
Outlet_Type[T.T2]                   1624.3731     57.027     28.484      0.000    1512.586    1736.160
Outlet_Type[T.T3]                   3351.2754     57.039     58.754      0.000    3239.465    3463.085
Item_Weight                           -1.5478     12.329     -0.126      0.900     -25.716      22.620
Item_Visibility                      -15.3993     12.844     -1.199      0.231     -40.576       9.778
Item_MRP                             969.1088     12.323     78.642      0.000     944.953     993.265
Outlet_Location_Type                  11.7436     26.528      0.443      0.658     -40.258      63.745
======================================================================================================

In [63]:
fit1 = smf.ols('Item_Outlet_Sales ~ Item_MRP+Outlet_Type', data=df).fit()
print(fit1.summary().tables[0])
print(fit1.summary().tables[1])

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.562
Model:                            OLS   Adj. R-squared:                  0.562
Method:                 Least Squares   F-statistic:                     2733.
Date:                Sat, 22 Apr 2023   Prob (F-statistic):               0.00
Time:                        19:12:11   Log-Likelihood:                -72004.
No. Observations:                8523   AIC:                         1.440e+05
Df Residuals:                    8518   BIC:                         1.441e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept           350.6920     34.325     10.217      0.000     283.407     417.977
Outlet_Type[T.T1]  1962.0483     37.510     52.307      0.000    1888.519    2035.577
Outlet_Type[T.T2]  1634.1338     50.530     32.340      0.000    1535.084    1733.184
Outlet_Type[T.T3]  3361.8803     50.427     66.668      0.000    3263.031    3460.729
Item_MRP            969.0441     12.236     79.196      0.000     945.058     993.030
=====================================================================================

In [64]:
df = pd.get_dummies(df, columns=['Outlet_Type'])

In [65]:
df.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,Outlet_Type_G,Outlet_Type_T1,Outlet_Type_T2,Outlet_Type_T3
0,-0.841872,LF,-0.970732,Dairy,1.747454,M,1,3735.1380,0,1,0,0
1,-1.641706,R,-0.908111,Soft Drinks,-1.489023,M,3,443.4228,0,0,1,0

In [67]:
fit2 = smf.ols('Item_Outlet_Sales ~ Item_MRP+Outlet_Type_G+Outlet_Type_T1+Outlet_Type_T2+Outlet_Type_T3', data=df).fit()
print(fit2.summary().tables[0])
print(fit2.summary().tables[1])

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.562
Model:                            OLS   Adj. R-squared:                  0.562
Method:                 Least Squares   F-statistic:                     2733.
Date:                Sat, 22 Apr 2023   Prob (F-statistic):               0.00
Time:                        19:14:07   Log-Likelihood:                -72004.
No. Observations:                8523   AIC:                         1.440e+05
Df Residuals:                    8518   BIC:                         1.441e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       1672.1661     12.879    129.837      0.000    1646.920    1697.412
Item_MRP         969.0441     12.236     79.196      0.000     945.058     993.030
Outlet_Type_G  -1321.4741     29.543    -44.731      0.000   -1379.386   -1263.563
Outlet_Type_T1   640.5742     17.411     36.791      0.000     606.444     674.704
Outlet_Type_T2   312.6597     31.478      9.933      0.000     250.955     374.365
Outlet_Type_T3  2040.4062     31.380     65.022      0.000    1978.894    2101.919
==================================================================================

In [68]:
test = pd.read_csv("C:/Users/Khusshi Dedhiaa/Desktop/SSDI/bigmart.csv")
test.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2,443.4228

In [70]:
test.drop(['Item_Outlet_Sales'], axis=1, inplace=True)

In [71]:
test.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,9.30,Low Fat,0.016047,Dairy,249.8092,Medium,Tier 1,Supermarket Type1
1,5.92,Regular,0.019278,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2

In [73]:
test.isna().sum()

Item_Weight             1463
Item_Fat_Content           0
Item_Visibility            0
Item_Type                  0
Item_MRP                   0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
dtype: int64

In [74]:
mean = test.Item_Weight.mean()
test.Item_Weight.fillna(mean, inplace=True)

In [75]:
mode = test.Outlet_Size.mode()[0]
test.Outlet_Size.fillna(mode, inplace=True)

In [77]:
test.isna().sum()

Item_Weight             0
Item_Fat_Content        0
Item_Visibility         0
Item_Type               0
Item_MRP                0
Outlet_Size             0
Outlet_Location_Type    0
Outlet_Type             0
dtype: int64

In [79]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Weight           8523 non-null   float64
 1   Item_Fat_Content      8523 non-null   object
 2   Item_Visibility       8523 non-null   float64
 3   Item_Type             8523 non-null   object
 4   Item_MRP              8523 non-null   float64
 5   Outlet_Size           8523 non-null   object
 6   Outlet_Location_Type  8523 non-null   object
 7   Outlet_Type           8523 non-null   object
dtypes: float64(3), object(5)
memory usage: 532.8+ KB

In [80]:
test.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,9.30,Low Fat,0.016047,Dairy,249.8092,Medium,Tier 1,Supermarket Type1
1,5.92,Regular,0.019278,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2

In [82]:
test.Item_Fat_Content.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [83]:
test['Item_Fat_Content'] = test.Item_Fat_Content.map({'Low Fat':'LF','Regular':'R','low fat':'LF','LF':'LF','reg':'R'})

In [84]:
test.Outlet_Size.unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [85]:
test['Outlet_Size'] = test.Outlet_Size.map({'Medium':'M','High':'H','Small':'S'})

In [86]:
test.Outlet_Location_Type.unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [87]:
test['Outlet_Location_Type'] = test.Outlet_Location_Type.map({'Tier 1':1, 'Tier 2':2, 'Tier 3':3})

In [88]:
test.Outlet_Type.unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [90]:
test['Outlet_Type'] = test.Outlet_Type.map({'Supermarket Type1':'T1','Supermarket Type2':'T2','Grocery Store':'G','Supermarket Type3':'T3'})

In [91]:
from sklearn.preprocessing import scale

In [92]:
test['Item_Weight'] = scale(test[['Item_Weight']], with_mean=True, with_std=True)

In [93]:
test['Item_Visibility'] = scale(test[['Item_Visibility']], with_mean=True, with_std=True)

In [94]:
test['Item_MRP'] = scale(test[['Item_MRP']], with_mean=True, with_std=True)

In [95]:
test.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,-0.841872,LF,-0.970732,Dairy,1.747454,M,1,T1
1,-1.641706,R,-0.908111,Soft Drinks,-1.489023,M,3,T2

In [96]:
from statsmodels.tools.tools import add_constant

In [97]:
x = add_constant(df)
x = df[['Item_Weight','Item_Visibility','Item_MRP']]
vif_df = pd.DataFrame()
vif_df['feature'] = x.columns
vif_df['VIF'] = [variance_inflation_factor(x.values,i) for i in range (len(x.columns))]
print(vif_df)

           feature       VIF
0      Item_Weight  1.000758
1  Item_Visibility  1.000146
2         Item_MRP  1.000614

In [98]:
test = pd.get_dummies(test, columns=['Outlet_Type'])

In [99]:
test.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type_G,Outlet_Type_T1,Outlet_Type_T2,Outlet_Type_T3
0,-0.841872,LF,-0.970732,Dairy,1.747454,M,1,0,1,0,0
1,-1.641706,R,-0.908111,Soft Drinks,-1.489023,M,3,0,0,1,0

In [100]:
df.head(2)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,Outlet_Type_G,Outlet_Type_T1,Outlet_Type_T2,Outlet_Type_T3
0,-0.841872,LF,-0.970732,Dairy,1.747454,M,1,3735.1380,0,1,0,0
1,-1.641706,R,-0.908111,Soft Drinks,-1.489023,M,3,443.4228,0,0,1,0

In [101]:
y_pred = fit2.predict(test)

In [102]:
y_pred

0       4006.100156
1        541.896517
2       2322.469693
3        990.309120
4        956.834733
           ...
8518    3456.971006
8519    1801.762288
8520    1443.306571
8521    1395.669299
8522    1293.052894
Length: 8523, dtype: float64